.covid-dashboard-container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    height: 600px;
}

.covid-dashboard-container img{
    width: 45px;
    margin-bottom: -10px;
    margin-right: 10px;
}

.covid-dashboard-container h1{
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

.covid-dashboard-container h2{
    color: #0264f1;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.covid-dashboard .local-updates{
    border: 1px solid rgb(226, 232, 236);
    padding: 20px;
    margin: 30px;
}

.covid-dashboard p{
    text-align: start;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 500;
}

.covid-dashboard .local-updates .sections h2{
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.covid-dashboard .local-updates .sections h1{
    font-size: 30px;
}

.covid-dashboard .local-updates .top{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: center;
    justify-content: space-around;
}

.covid-dashboard .local-updates .top div{
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.covid-dashboard .global-updates{
    border: 1px solid rgb(226, 232, 236);
    padding: 20px;
    margin: 30px;
}

.covid-dashboard .global-updates .sections{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: center;
    justify-content: space-around;
}

.covid-dashboard .global-updates .sections div{
    border-radius: 5px;
    border: 1px solid rgb(213, 219, 224);
    padding: 10px;
}

.covid-dashboard .global-updates .sections h2{
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.covid-dashboard .global-updates .sections h1{
    font-size: 30px;
}



/* ##################################### Start of Max-Width: 1200px ##################################### */

@media only screen and (max-width: 1200px) {   

}

/* ##################################### End of Max-Width: 1200px ##################################### */



/* ##################################### Start of Max-Width: 992px ##################################### */

@media only screen and (max-width: 992px) {

}

/* ##################################### End of Max-Width: 992px ##################################### */



/* ##################################### start of Max-Width: 768px ##################################### */

@media only screen and (max-width: 768px) {
    .covid-dashboard-container{
        height: auto;
    }

    .covid-dashboard .local-updates .sections h2{
        font-size: 15px;
    }
    
    .covid-dashboard .local-updates .sections h1{
        font-size: 25px;
    }

    .covid-dashboard .global-updates .sections h2{
        font-size: 15px;
    }
    
    .covid-dashboard .global-updates .sections h1{
        font-size: 25px;
    }

    .covid-dashboard-container img{
        width: 35px;
        margin-bottom: -8px;
    }
    
    .covid-dashboard-container h1{
        font-size: 28px;
    }
}

/* ##################################### End of Max-Width: 768px ##################################### */



/* ##################################### Start of Max-Width: 600px ##################################### */

@media only screen and (max-width: 600px) {
    .covid-dashboard .local-updates .top{
        display: grid;
        grid-template-columns: 47% 47%;
        justify-content: center;
        justify-content: space-around;
    }

    .covid-dashboard-container img{
        width: 28px;
        margin-right: 5px;
        margin-bottom: -6px;
    }
    
    .covid-dashboard-container h1{
        font-size: 20px;
    }

    .covid-dashboard-container h2{
        margin-top: 10px;
    }

    .covid-dashboard .global-updates .sections{
        display: grid;
        grid-template-columns: 90%;
    }

    .covid-dashboard .global-updates .sections div{
       margin-bottom: 20px;
    }
}

/* ##################################### End of Max-Width: 600px ##################################### */